photo[[:space:]]3.jpg filter=lfs diff=lfs merge=lfs -text
photo[[:space:]]4.jpg filter=lfs diff=lfs merge=lfs -text
photo[[:space:]]5.jpg filter=lfs diff=lfs merge=lfs -text
dragon_orig.png filter=lfs diff=lfs merge=lfs -text
photo[[:space:]]1.jpg filter=lfs diff=lfs merge=lfs -text
photo[[:space:]]2.jpg filter=lfs diff=lfs merge=lfs -text
